:root {
  --text-color: #2e2e2e; /* charcoal */
  --cream: #FDFDFD;
  --beige: #F2EBDF;
  --brown: #C9BEBD;
  --pink: #F4E5F5;
  --pale-brown: #EEE5E5;
}

/* Reset some basic elements */
body, html {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
body {
  background-color: var(--cream);
  color: var(--text-color);
}
body.no-scroll {
  overflow: hidden;
}
* { box-sizing: border-box; }

/* Navbar styling */
.navbar {
  background-color: transparent;
  /*padding: 15px 0;*/
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease, border-bottom 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  /*
  background-color: var(--cream);
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  padding: 0 10px;
}

.logo-link {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: var(--cream);
  font-size: 28px;
  display: flex;
  align-items: center;
  font-variant: small-caps;
  transition: color 0.3s ease;
}

.logo-link div:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cream);
  font-size: 18px;
  font-variant: all-small-caps;
  margin: 8px 0 0 7px;
  transition: color 0.3s ease;
}

.logo-link div {
  display: none;
}

.logo-link img {
  width: auto;
  height: 80px;
  margin: 15px 0;
  filter: brightness(0%) drop-shadow(0 0 0 #000) invert(1);
  transition: filter 0.5s ease;
}
.navbar.scrolled .logo-link img {
  filter: brightness(100%) drop-shadow(2px 2px 8px rgba(46, 46, 46, 0.5));
}

.navbar.scrolled .logo-link,
.navbar.scrolled .logo-link div:nth-child(2) {
  color: var(--text-color);
}

.nav-links {
  display: flex;
  box-sizing: border-box;
}

.nav-links > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.nav-link {
  color: var(--cream);
  text-decoration: none;
  margin-left: 15px;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant: all-small-caps;
  letter-spacing: 1.5px;
  padding: 5px 10px;
  text-shadow: 2px 2px 8px rgba(46, 46, 46, 0.5);
  border-radius: 5px;
}

.navbar.scrolled .nav-link {
  color: var(--text-color); 
  text-shadow: none;
}

.hamburger {
  display: none;
  z-index: 99;
}

.hamburger .bar {
  background-color: var(--cream);
  transition: background-color 0.3s ease;
}

.navbar.scrolled .hamburger .bar{
  background-color: var(--text-color);
}
.navbar .hamburger.open .bar {
  background-color: var(--text-color);
}

.cta-button {
  font-size: 12px;
  color: var(--text-color);
  letter-spacing: 1px;
  font-weight: 500;
  padding: 15px 30px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: var(--pink);
  border-radius: 7px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--cream);
  white-space: nowrap;
}

.cta-button:hover {
  background-color: var(--pale-brown);
}

.cta-button.scrolled {
  color: var(--text-color);
}

.hero {
  background-color: #000;
  background-image: url('../imgs/erin_johnny.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 68.5px); /* Full height of the viewport */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--cream);
  text-align: center;

  position: relative;
  width: 100%;
  padding-bottom: 4%;
  box-sizing: border-box;
}

.hero-content {
  max-width: 90%;
}

.hero-content > div {
  display: flex;
  align-items: center;
  display: none;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
  font-size: 8.25vw; /* Responsive font size based on viewport width */
  text-shadow: 2px 2px 8px rgba(46, 46, 46, 0.5);
  white-space: nowrap;
  padding: 0 10px; /* Padding to ensure text doesn't touch the edges */
  margin: 0;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  font-variant: all-small-caps;
  margin: 2vw 0 0 1vw;
  text-shadow: 2px 2px 8px rgba(46, 46, 46, 0.5);
}

.hero-content p {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 14vw;
  line-height: 13.25vw;
  text-shadow: 2px 2px 8px rgba(46, 46, 46, 0.5); /* Text shadow for better readability */
  white-space: nowrap; /* Prevents the text from wrapping */
  padding: 0 20px; /* Padding to ensure text doesn't touch the edges */
  margin: 0 0 20px;
}
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cream);
}
section > div {
  width: 100%;
  max-width: 60rem;
  padding: 0 5%;
}
section.portfolio > div {
  max-width: 100%;
}
section.portfolio {
  background-color: var(--pale-brown);
}
section.info {
  background-color: var(--pale-brown);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
section.info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
section.info > div > img {
  width: 80%;
  height: auto;
  margin: 5% 0 15%;
}

section.about {
  background-color: var(--pink);
  justify-content: center;
}
section.about > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: none;
}
section.about p {
  font-size: 1em;
}
section.about img {
  width: 55%;
  height: auto;
}
section.about > div > div {
  padding: 0 5%;
}

section.brown {
  background-color: var(--brown);
  justify-content: center;
}
section.brown > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
section.pink {
  background-color: var(--pink);
  justify-content: center;
}
section.pink > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section.brown > div > img,
section.pink > div > img {
  width: 100%;
  height: auto;
  filter: drop-shadow(2px 2px 8px rgba(46, 46, 46, 0.5));
}

section.contact-us {
  justify-content: center;
}
section.contact-us > div > a {
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
}
section.contact-us > div > a:hover {
  color: var(--brown);
}

section.contact-us > div > div {
  display: flex;
}
section.contact-us > div > div > a {
  width: 20%;
  box-sizing: border-box;
}
section.contact-us > div > div > a:not(:last-child) {
  margin-right: 4px;
}
section.contact-us img {
  max-width: 100%;
  height: auto;
}

section h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: normal;
}
section p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
section.info p > b {
  font-weight: 700;
}

section.testimonials {
  justify-content: center;
}
section.testimonials cite {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}
.testimonial {
  font-family: 'Rounded Font', sans-serif;
  font-size: 18px;
  color: #fff;
  color: var(--text-color);
  
  background: linear-gradient(to bottom, var(--cream), var(--beige));

  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
section.slider {
  justify-content: center;
}
section.slider > div {
  position: relative;
  width: 80%;
  max-width: 50rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0;
}
.slides-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slides img {
  max-width: 50%;
  height: auto;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.5s;
}
.arrow.left {
  left: 0;
}
.arrow.right {
  right: 0;
}
.arrow.disabled {
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 50rem) {
  .section.slider > div {
    width: 100%;
  }
}







.ig-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
a.ig-item {
  height: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.ig-item img {
  border-radius: 5px;
}
/* Mobile first: 5 squares in a row */
@media (max-width: 599px) {
  a.ig-item {
    flex: 1 0 18%;
  }
}
/* Medium screens: 3x3 grid, show the 6th item */
@media (min-width: 600px) and (max-width: 899px) {
  a.ig-item {
    flex: 1 0 30%;
  }
  .hidden {
    display: flex;
  }
}
/* Larger screens: 2x2x2 grid */
@media (min-width: 900px) and (max-width: 1199px) {
  a.ig-item {
    flex: 1 0 45%;
  }
  .hidden {
    display: flex;
  }
}
/* Extra large screens: show 4 items, hide 2 */
@media (min-width: 1200px) {
  a.ig-item {
    flex: 1 0 22%;
  }
  .hidden {
    display: none;
  }
}










footer {
  background-color: var(--beige);
  padding: 20px;
}

footer a,
footer p {
  color: var(--text-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

footer a {
  letter-spacing: 1.5px;
}

footer a:hover {
  color: var(--brown);
}

@media (max-width: 60rem) {
  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--beige);
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 0 48px;
    opacity: 0;
    visibility: hidden;
  }

  .nav-links > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .nav-links.open {
    opacity: 1;
    visibility: visible;
  }
  .nav-link {
    margin: 20px 0;
    font-size: 24px;
    width: 100%;
    text-shadow: none;
    color: var(--text-color);
    text-align: center;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 24px;
    justify-content: space-between;
  }
  .bar {
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar1 {
    transform: rotate(-45deg) translate(-10px, 9px);
  }
  .hamburger.open .bar2 {
    opacity: 0;
  }
  .hamburger.open .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .hero {
    padding-bottom: 12%;
  }
  section.slider {
    min-height: 100%;
  }
  section.slider > div {
    width: 100%;
  }
  section.about > div {
    flex-direction: column;
    margin: 24px 0;
  }
  section.about img {
    width: 100%;
  }
  section.pink,
  section.brown {
    min-height: 50vh;
  }
}
@media (min-width: 40rem) {
  .hero-content p {
    font-size: 7.5vw;
    line-height: normal;
  }
  .hero-content p > span {
    display: none;
  }
}
@media (min-width: 60rem) {
  .nav-links > div {
    margin-right: 20px;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.activated {
    background-color: var(--pale-brown);
    color: var(--text-color);
    text-shadow: none;
  }
}

@media (min-width: 75rem) {
  .nav-container {
    max-width: 75rem;
    padding: 0;
  }
}